[submodule "app_libs/tinyusb"]
	path = app_libs/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "app_libs/mongoose"]
	path = app_libs/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "app_libs/FreeRTOS-Kernel"]
	path = app_libs/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "app_libs/printf"]
	path = app_libs/printf
	url = https://github.com/mpaland/printf
